/*<meta sourceDocument="C:\Users\Asus\Desktop\Technical Communication\info\VistulaKomunikacjaEdycja2 - Plan II semestr.xlsx" />*/

table
{
	padding: 0;
	margin: 0;
	border-spacing: 0px;
	border-collapse: collapse;
}

col
{
	width: 65px;
	padding: 0;
	margin: 0;
}

tr
{
	height: auto;
	padding: 0;
	margin: 0;
}

td
{
	font-family: Calibri;
	font-size: 11px;
	background: white;
	color: black;
	padding: 0px;
	border: none;
}

.Default
{
	vertical-align: bottom;
	font-family: "Arial", "";
	color: #000000;
}

.s15
{
	vertical-align: bottom;
	font-family: "Arial", "";
	color: #000000;
}

.s16
{
	vertical-align: bottom;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	font-family: "Calibri", "";
	font-size: 11px;
	color: #000000;
	font-weight: bold;
}

.s17
{
	vertical-align: bottom;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	font-family: "Calibri", "";
	font-size: 11px;
	color: #000000;
	font-weight: bold;
}

.s18
{
	text-align: center;
	vertical-align: bottom;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	font-family: "Arial", "";
}

.s19
{
	vertical-align: bottom;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	font-family: "Arial", "";
}

.s20
{
	vertical-align: bottom;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	font-family: "Arial", "";
}

.s22
{
	vertical-align: bottom;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	font-family: "Arial", "";
}

.s23
{
	vertical-align: bottom;
	font-family: "Arial", "";
}

.s24
{
	vertical-align: bottom;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	font-family: "Arial", "";
	background-color: #FFF2CC;
}

.s26
{
	text-align: center;
	vertical-align: bottom;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	font-family: "Calibri", "";
	font-size: 11px;
	color: #000000;
}

.s27
{
	text-align: right;
	vertical-align: bottom;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	font-family: "Arial", "";
}

.s28
{
	text-align: center;
	vertical-align: bottom;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	font-family: "Calibri", "";
	font-size: 11px;
	color: #000000;
}

.s31
{
	vertical-align: bottom;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	font-family: "Arial", "";
	background-color: #F4CCCC;
}

.s34
{
	vertical-align: bottom;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	font-family: "Arial", "";
	background-color: #A4C2F4;
}

.s36
{
	text-align: right;
	vertical-align: bottom;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	font-family: "Calibri", "";
	font-size: 11px;
	color: #000000;
}

.s38
{
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	font-family: "Arial", "";
}

.s41
{
	vertical-align: bottom;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	font-family: "Calibri", "";
	font-size: 11px;
	color: #000000;
}

.s44
{
	vertical-align: bottom;
	font-family: "Arial", "";
}

.s45
{
	text-align: right;
	vertical-align: bottom;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	font-family: "Arial", "";
}

.s46
{
	text-align: right;
	vertical-align: bottom;
	font-family: "Roboto", "";
	font-size: 11px;
	color: #000000;
}

.s48
{
	text-align: center;
	vertical-align: bottom;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	font-family: "Calibri", "";
	font-size: 11px;
	color: #000000;
}

.s50
{
	text-align: right;
	vertical-align: bottom;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	font-family: "Roboto", "";
	font-size: 11px;
	color: #000000;
}

.s51
{
	vertical-align: bottom;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	font-family: "Arial", "";
	background-color: #B6D7A8;
}

.s54
{
	text-align: center;
	vertical-align: bottom;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	font-family: "Arial", "";
}

.s55
{
	text-align: right;
	vertical-align: bottom;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	font-family: "Roboto", "";
	font-size: 11px;
	color: #000000;
}

.s56
{
	vertical-align: bottom;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	font-family: "Calibri", "";
	font-size: 11px;
	color: #000000;
}

.s58
{
	text-align: center;
	vertical-align: bottom;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	font-family: "Arial", "";
}

.s61
{
	text-align: right;
	vertical-align: bottom;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	font-family: "Arial", "";
}

.s62
{
	vertical-align: bottom;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	font-family: "Arial", "";
}

.s63
{
	text-align: right;
	vertical-align: bottom;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	font-family: "Calibri", "";
	font-size: 11px;
	color: #000000;
}

.s64
{
	text-align: center;
	vertical-align: bottom;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	font-family: "Arial", "";
	background-color: #A9D08E;
}

.s65
{
	vertical-align: bottom;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	font-family: "Arial", "";
	background-color: #A9D08E;
}

.s66
{
	text-align: center;
	vertical-align: bottom;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	font-family: "Calibri", "";
	font-size: 11px;
	color: #000000;
	background-color: #A9D08E;
}

.s67
{
	text-align: center;
	vertical-align: middle;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	font-family: "Arial", "";
	background-color: #FFFF00;
}

.s68
{
	text-align: right;
	vertical-align: middle;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	font-family: "Arial", "";
	background-color: #FFFF00;
}

.s69
{
	vertical-align: bottom;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	font-family: "Arial", "";
	background-color: #00B050;
}

